body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

h1 {
    font-size: 50px;
    text-align: left;
    color: #1A3E2F;
    font-family: "Open Sans";
}

h2 {
    font-size: 30px;
    text-align: left;
    color: #1A3E2F;
    font-family: "Open Sans";
}

h3 {
    font-size: 40px;
    text-align: right;
    color: #1A3E2F;
    font-family: "Open Sans";
}

h4 {
    font-size: 40px;
    opacity: 0.4;
    text-align: right;
    color: #1A3E2F;
    font-family: "Open Sans";
}

h5 {
    font-size: 40px;
    opacity: 0.4;
    text-align: right;
    color: #1A3E2F;
    font-family: "Open Sans";
}
