/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
    --color-bg: #f5f1ec;
    --color-text-main: #000000;
    --color-primary: #ffff00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "Open Sans", sans-serif;
    --font-family-header: "Open Sans", sans-serif;
}

/* Basic page style resets */
* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

@font-face {
    font-family: Open Sans;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap") format("opentype");
}

.header_container {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    /*   border: 1px solid black; */
}

.gradient_circle {
    content: "";
    position: absolute;
    margin-top: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    /* Size of the gradient circle */
    height: 700px;
    /* Size of the gradient circle */
    background-image: radial-gradient(40.97% 40.93% at 47.56% 47.41%,
            #f5e269 0%,
            rgba(245, 226, 105, 0) 100%);
    border-radius: 50%;
    /* Makes it a circle */
    z-index: -2;
    /*   animation: moveGradient 50s infinite alternate; /* Animation */
}

.gradient_circle_pointer {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    border-radius: 50%;
    top: 0px;
    position: fixed;
    pointer-events: none;
    /* Ensures the circle doesn't interfere with mouse events */
    background: radial-gradient(50% 50% at 50% 50%,
            #c5aaec 0%,
            rgba(197, 170, 236, 0) 100%);
    transition: transform 0.1s linear;
    /* Smooth transition for better visual effect */
    z-index: 1;
}

.title_container {
    width: 70%;
    align-content: left;
    align-items: left;
    text-align: left;
    display: block;
    margin-top: 170px;
    /*   border: 1px solid black; */
}

.subtitle_container {
    margin-top: 550px;
    width: 60%;
    align-items: right;
    justify-content: right;
    align-content: right;
    align-items: right;
    text-align: left;
    display: block;
    /*   border: 1px solid black; */
}

.all_work_container {
    width: 100%;
    margin-top: 50px;
    /*     border: 1px solid black; */
}

.project_container {
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    cursor: pointer;
    /*     border: 1px solid black; */
}

.hover_image {
    position: absolute;
    /* max-width: 200px;
    max-height: 100px; */
    bottom: 100px;
    right: 0px;
    display: none;
    color: black;
    z-index: 10;
    object-fit: contain;
    /* overflow: hidden; */
}

.project_container:hover .hover_image {
    display: block;
}

.project_container:hover .gradient_circle_pointer {
    background: radial-gradient(50% 50% at 50% 50%,
            var(--pointer-color) 0%,
            transparent 100%);
}

.project_des_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    /*   align-content: right; */
    justify-content: flex-end;
    margin-right: 0px;
    /*   border: 1px solid black; */
}

.line_100 {
    width: 100%;
    justify-content: center;
    stroke-width: 1px;
    stroke: var(--Main, #1a3e2f);
    opacity: 0.5;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFF8EB;
    margin: 20px;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1a3e2f;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 20px;
    /*   text-align: center; */
    /*   border: 1px solid black; */
}

nav a {
    color: #1a3e2f;
    text-decoration: none;
    font-weight: 400;
    margin: 0 10px;
    /*   border: 1px solid black; */
}

.left-links,
.center-links,
.right-links {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #1a3e2f;
    font-weight: 400;
    font-size: 18px;
    /*   border: 1px solid black; */
}

.nav_text {
    font-family: "Open Sans", sans-serif;
    color: #1a3e2f;
    font-weight: 400;
    font-size: 18px;
    /*   border: 1px solid black; */
}

.center-links {
    margin-left: -50px;
    ;
    /* This centers the Margaret Zhou link */
}

.right-links {
    justify-centent: flex-end;
}

p {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: #1a3e2f;
    line-height: normal;
    font-style: normal;
    margin: 0;
    /*   font-family: "Open Sans"; */
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color: #1a3e2f;
    line-height: normal;
    margin: 0;
    /*   font-family: "Open Sans"; */
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    color: #1a3e2f;
    line-height: normal;
    margin: 0;
    /*   font-family: "Open Sans"; */
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    opacity: 0.4;
    text-align: right;
    color: #1a3e2f;
    line-height: normal;
    margin: 0;
    /*   font-family: "Open Sans"; */
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: #1a3e2f;
    line-height: normal;
    margin: 50px;
    /*   font-family: "Open Sans"; */
}

h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    /*   text-align: left; */
    color: #1a3e2f;
    line-height: normal;
    margin: 50px;
    /*   font-family: "Open Sans"; */
}

h7 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a3e2f;
    /*   font-family: "Open Sans"; */
}

.footer_text {
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
}

.divider {
    padding: 0 1rem;
}

.image_container {
    margin-top: 150px;
    margin-bottom: 80px;
    /*   border: 1px solid black; */
}

.profile_pic {
    width: 400px;
    margin-left: 0px;
    /*   border-radius: 200px; */
    /*   border: 1px solid black; */
}

.about_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: left;
    /*   border: 1px solid black; */
}

.am_love_container {
    margin-top: 150px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    /*   border: 1px solid black; */
}

.am_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    /*   border: 1px solid black; */
    gap: 40px;
}

.love_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    /*   border: 1px solid black; */
    gap: 40px;
}

.about_1 {
    width: 380px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #1a3e2f;
    /*   border: 1px solid black; */
}

.about_2 {
    width: 400px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #1a3e2f;
    /*   border: 1px solid black; */
}

.about_section {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #1a3e2f;
}

.about_title {
    width: auto;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #1a3e2f;
    margin-bottom: 10px;
    padding: 0;
    /*   border: 1px solid black; */
}

.listen_icon {
    height: 50px;
    /*   border: 1px solid black; */
}

.empower_icon {
    height: 60px;
    /*   border: 1px solid black; */
}

.mundane_icon {
    height: 50px;
    /*   border: 1px solid black; */
}

.road_icon {
    height: 40px;
    /*   border: 1px solid black; */
}

.arch_icon {
    height: 50px;
    /*   border: 1px solid black; */
}

.dance_icon {
    height: 53px;
    /*   border: 1px solid black; */
}

.project_page_container {
    width: 103%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    overflow-x: hidden;
    /*   border: 1px solid black; */
}

.question_container {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    border: 0.5px solid var(--Main, #1A3E2F);
}

.question_text {
    width: 50%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #1a3e2f;
    /*   border: 1px solid black; */
}

.project_details_smill {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: #8885D6;
    /*   border: 1px solid black; */
}

smill_render_2 {
    width: 100%;
}

.project_details_lane {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: #4294F0;
    /*   border: 1px solid black; */
}

.project_details_debi {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: #E2EBFB;
    /*   border: 1px solid black; */
}

.project_details_infer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: #86977A;
    /*   border: 1px solid black; */
}

.detail_box {
    width: calc(100% / 3);
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    border: 0.5px solid var(--Main, #1A3E2F);
}

.project_name {
    font-size: 45px;
    font-weight: Bold;
    text-align: center;
    color: #FFFFFF;
    /*   border: 1px solid black; */
}

.project_info {
    /*   border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: 30px;
}

.team_container {
    /*   border: 1px solid black; */
}

.timeline_container {
    /*   border: 1px solid black; */
}

.details_title {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: Bold;
    color: #FFFFFF;
    /*   border: 1px solid black; */
}

.details_info {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    color: #FFFFFF;
    /*   border: 1px solid black; */
}

.project_role {
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    /*   border: 1px solid black; */
}

.intro_box {
    position: relative;
    width: 100%;
    height: 900px;
    border: 0.5px solid var(--Main, #1A3E2F);
    text-align: left;
    display: flex;
    flex-direction: column;
    background: #FFF8EB;
}

.intro_text {
    width: 450px;
    position: relative;
    top: 80px;
    margin-left: 100px;
}

.project_process_title {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    color: #1a3e2f;
    font-weight: Bold;
}

.project_process_text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #1a3e2f;
    margin-top: 30px;
}

.render_box {
    width: 100%;
    height: 950px;
    border: 0.5px solid var(--Main, #1A3E2F);
}

.render_image {
    width: 105%;
    position: relative;
    left: -90px;
}

.problem_svg {
    position: absolute;
    top: 250px;
    left: 510px;
    width: 1000px;
}


/******************************************************************************
  END Glitch hello-app default styles
  ******************************************************************************/

/* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0;
    width: 100%;
    /*   background-color: #F5F1EC; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    /*   background-color: #F5F1EC; */
    /*   border: 1px solid black; */
}